<div id="conteudo">
    <p class="paragrafos">Esportes urbanos são atividades físicas praticadas em meio ao ambiente urbano,
        tais como <strong>futebol, vôlei, basquete, academia, etc.</strong></p>
    <p class="paragrafos">Pensando nisso, aqui estão algumas ideias de esportes urbanos para começar a
        praticar e sair da rotina agitada da cidade</p>
    <p class="paragrafos">Comece dando uma olhada na lista de esportes, depois adicione o seu próprio,
        caso
        queira.
    </p>
</div>
<div id="botoes">
    <button class="botoesIntro" id="addExerc" onclick="onOff()">+ Adicionar</button>
    <a class="botoesIntro" id="verExerc" href="/esportes">Ver esportes</a>
</div>